<% include ./partials/header %>


<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" value="Login!">Login!</button> <!--buttont és input submit is lehet -->
</form>

<% include ./partials/footer %>  <!--nem kell mappát visszalépni így csak egy pont, ha vissza kéne lépni akkor két pont-->